.body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: burlywood;
}

.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom left, yellow, beige);
  box-shadow: 0px 2px goldenrod;
  margin: 25px;

}

.main-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.main-content{
  display: grid;
  gap: 30px 30px;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
}

.card{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid ;
  box-shadow: -5px 5px gray;
  border-radius: 10px;
}